# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.env
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# ARRUMAR O INPUT " SEARCH " EM MOBILE
# COLOCAR OVERVIEW ATRAZ DA IMAGEM EM DETAILS

# COLOCAR REDIRECT DA LOGO PARA O PORTFOLIO
