.link {
    text-decoration: none;
    color: #61DAFB;
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    display: -webkit-box;

    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}