.link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    text-transform: none;
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    display: -webkit-box;

    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}